/* 头部块样式 */
.header {
    background-color: #fff;
    /* border-bottom: 1px solid #4e72b8; */
    position: relative;
}
.logo h3 {
    width: 180px;
    height: 70px;
    background: url('../images/szjzht.png') no-repeat;
    background-size: 155px;
}
.description {
    position: absolute;
    top: 0;
    left: 185px;
    line-height: 80px;
    font-size: 24px;
}
/* 登录窗口样式 */
#register {
    flex: 1;
    width: 100%;
    /* background: #2a5caa; */
    background-color: rgba(30, 144, 255, .5);
    /* background-size: cover; */
}
.page {
    width: 30%;
    background-color: rgba(255, 255, 255, .8);
    margin: 0 auto;
    margin-top: 4%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 3);
}

/* 登录注册标题 */
.title {
    width: 100%;
    border-bottom: 2px solid #2a5caa;
}
.title span {
    font-size: 20px;
    text-align: center;
    line-height: 70px;
}
/* 登录信息 */
.register-user {
    /* width: 100%; */
    padding: 30px 0;
}
.inputInfo {
    padding-left: 30px;
    padding-right: 60px;
}
.uName, .uPassword, .checkCode {
    /* width: 100%; */
    position: relative;
    margin-bottom: 20px;
}
.username, .password, .code {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    padding-left: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.checkCode .code {
    width: 100px;
}
.icon-renwu, .icon-mima, .icon-webicon203 {
    position: absolute;
    top: 8px;
    font-size: 24px;
    left: 4px;
} 
/* 登录按钮样式 */
.loginButton {
    padding: 0 30px;
}
.dobutton {
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    background-color: #2a5caa;
    border-radius: 6px;
    cursor: pointer;
}

/* 底部样式 */
.footer {
    width: 100%;
    background-color: #fff;
    font-size: 13px;
    line-height: 60px;
}
.footer-tips a:hover {
    color: #4e72b8;
}
.footer-tips span {
    color: #102b6a;
    margin: 0 8px;
}