/* 头部块样式 */
.header {
    background-color: #fff;
    /* border-bottom: 1px solid #4e72b8; */
    position: relative;
}
.logo h3 {
    width: 180px;
    height: 70px;
    background: url('../images/szjzht.png') no-repeat;
    background-size: 155px;
}
.description {
    position: absolute;
    top: 0;
    left: 185px;
    line-height: 80px;
    font-size: 24px;
}
/* 联系方式样式 */
@media screen and (max-device-width: 768px) {
    .contact {
        display: none;
    }
}
.contact {
    line-height: 70px;
    margin-right: 100px;
    font-size: 16px;
    position: relative;
}
.contact span:last-of-type {
    padding: 0 5px;
    color: #ccc;
}
.contact i:last-of-type {
    font-size: 20px;
}
.contact .qrCode {
    position: absolute;
    top: 70px;
    right: 0;
    display: none;
    /* border: 1px solid #ccc; */
}
.contact .qrCode img {
    width: 130px;
    border: 7px solid #ccc;
    /* border-top: none; */
}
/* 登录窗口样式 */
#register {
    flex: 1;
    width: 100%;
    background: url('../images/03.jpg') no-repeat center;
    /* background-color: rgba(30, 144, 255, .5); */
    background-size: cover;
}
.page {
    width: 25%;
    min-width: 300px;
    background-color: rgba(255, 255, 255, .5);
    /* margin: 0 auto; */
    /* margin-top: 8%; */
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* 登录注册标题 */
.title {
    width: 100%;
    border-bottom: 2px solid #2a5caa;
}
.title span {
    font-size: 20px;
    text-align: center;
    line-height: 60px;
}
/* 登录信息 */
.register-user {
    /* width: 100%; */
    padding: 30px 0;
}
.inputInfo {
    padding-left: 30px;
    padding-right: 60px;
}
.uName, .uPassword, .checkCode {
    position: relative;
    margin-bottom: 20px;
}
.username, .password, .code {
    width: 100%;
    height: 40px;
    padding-left: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;

}
.checkCode .code {
    width: 80px;
}
.checkCode .convas {
    position: absolute;
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    top: 0;
    left: 57%;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}
.icon-renwu, .icon-mima, .icon-webicon203 {
    position: absolute;
    top: 8px;
    font-size: 24px;
    left: 4px;
} 
/* 登录按钮样式 */
.loginButton {
    padding: 0 30px;
}
.dobutton {
    color: #fff;
    width: 100%;
    height: 40px;
    background-color: #2a5caa;
    border-radius: 6px;
    cursor: pointer;
}
/* 弹出框样式 */
.showTip, .error {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px 30px;
    border-radius: 5px;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}
.showTip {
    width: 250px;
    background-color: rgba(255, 255, 255, .8);
}
.icon-guanbi {
    font-size: 20px;
    cursor: pointer;
}
.phoneCode {
    padding-right: 5px;
}
.phoneCode input {
    height: 40px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc; 
    border-radius: 10px;
    padding-left: 5px;
}
.tipButton {
    padding: 20px 0;
}
.tipButton button {
    padding: 6px 15px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.tipButton button:first-of-type {
    background-color: #2a5caa;
    color: #fff;
}
/* 错误提示框 */
.error {
    width: 115px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
}