/* 头部块样式 */
.header {
    background-color: #fff;
    height: 80px;
    border-bottom: 1px solid #4e72b8;
    position: relative;
}
.logo h3 {
    width: 180px;
    height: 80px;
    background: url('../images/szjzht.png') no-repeat;
    background-size: 155px;
}
.description {
    position: absolute;
    top: 0;
    left: 185px;
    line-height: 80px;
    font-size: 24px;
}
/* 登录窗口样式 */
#register {
    flex: 1;
    width: 100%;
}
.page {
    width: 25%;
    background-color: #fff;
    margin: 8% auto;
    border-radius: 10px;
}

/* 登录注册标题 */
.title {
    width: 100%;
    display: flex;
}
.title span {
    flex: 1;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}
.active {
    border-bottom: 2px solid #00cc99;
}

/* 登录信息 */
.register-user {
    padding: 30px 0;
    padding-left: 30px;
    padding-right: 60px;
}
.uName, .uPassword, .checkCode {
    width: 100%;
    /* background-color: pink; */
    position: relative;
    /* line-height: 40px; */
    margin-bottom: 20px;
}
.username, .password, .code {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    padding-left: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.checkCode .code {
    width: 100px;
}
.icon-renwu, .icon-mima, .icon-webicon203 {
    position: absolute;
    top: 8px;
    font-size: 24px;
    left: 4px;
} 
.dobutton {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    background-color: #00cc99;
    border-radius: 6px;
}

/* 底部样式 */
.footer {
    width: 100%;
    background-color: #fff;
    font-size: 15px;
    line-height: 70px;
}
.footer-tips a:hover {
    color: #4e72b8;
}
.footer-tips span {
    color: #102b6a;
    margin: 0 8px;
}