<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/index2.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../lib/index.js"></script>
</head>

<body>
    <div class="layout">
        <!-- 头部块 -->
        <header class="header">
            <div class="logo lf">
                <a href="javascript:;">
                    <h3 class="jzLogo"></h3>
                </a>
            </div>
            <div class="logo lf">
                <h3 class="zrLogo"></h3>
            </div>
            <span class="description">新金融&nbsp;&nbsp;&nbsp;新零售</span>
            <div class="contact lg">
                <i class="iconfont icon-dianhua"></i>
                <span>:</span>
                <span>400-829-6399</span>
                <span>|</span>
                <i class="iconfont icon-wechat"></i>
                <div class="qrCode">
                    <img src="../images/szjzht-code.jpg" alt="">
                </div>
            </div>
        </header>
        <!-- 中间登录部分 -->
        <div id="register">
            <div class="page">
                <div class="title tc">
                    <span class="tLogin font-weiht">管理系统</span>
                </div>
                <form class="register-user">
                    <div class="inputInfo">
                        <p class="uName">
                            <i class="iconfont icon-renwu"></i>
                            <input type="text" placeholder="请输入账号" class="username" autofocus>
                        </p>
                        <p class="uPassword">
                            <i class="iconfont icon-mima"></i>
                            <input type="password" placeholder="请输入密码" class="password">
                        </p>
                        <p class="checkCode">
                            <i class="iconfont icon-webicon203"></i>
                            <input type="text" placeholder="验证码" class="code">
                            <span class="convas"></span>
                        </p>
                    </div>
                    <div class="loginButton">
                        <button class="dobutton">登录</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- 验证码弹出框 -->
        <div class="showTip">
            <div class="tipHeader tr">
                <i class="iconfont icon-guanbi"></i>
                <p class="tl">手机验证码:</p>
            </div>
            <div class="phoneCode">
                <input type="text">
            </div>
            <div class="tipButton tr">
                <button class="comfirBtn">确定</button>
                <button class="cancelBtn">取消</button>
            </div>
        </div>
        <!-- 错误提示 -->
        <div class="error tc">
            
        </div>
    </div>
  
</body>

</html>